<title>User Details</title>

<head>
  <link rel="stylesheet" href="style.css" />

  <style>
    

    table {
      width: 100%;
      table-layout: fixed;
    }

    .tbl-header {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .tbl-content {
      height: 300px;
      overflow-x: auto;
      margin-top: 0px;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    th {
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }

    td {
      padding: 15px;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: 12px;
      color: #fff;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }

    p 
    {
      margin-top: 10px;
    }
    h1 {
      font-size: 30px;
      color: #00b5ad;
      text-align: center;
      margin-bottom: 15px;
      font-weight: 500;

    }
    h3
    {
      margin-top: 50px;
    }
    h4
    {
      margin-top: 25px;
    }
    /* demo styles */

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

    

    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    /* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:1px solid #ecf0f1;
    border-radius: 15px;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input {    
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:1px solid #ecf0f1;
    border-radius: 15px;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
  }

  .dropdown {
            display: inline-block;
            position: relative;
        }

        button {
            border: none;
            border-radius: 5px;
            padding: 15px 30px;
            font-size: 18px;
            cursor: pointer;
            background-color: #fff;

        }

        button:hover{
            background-color: #ddd;
        }

        .dropdown-options {
            display: none;
            position: absolute;
            overflow: auto;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        }

        .dropdown:hover .dropdown-options {
            display: block;
        }

        .dropdown-options a {
            display: block;
            color: #000000;
            padding: 5px;
            text-decoration: none;
            padding: 20px 40px;
        }

        .dropdown-options a:hover {
            color: #0a0a23;
            background-color: #ddd;
            border-radius: 5px;
        }
        .topnav {
            overflow: hidden;
            background-color: #00b5ad;
        }

        .topnav a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,
        body
        {
            height: 100%
        ]
  </style>
</head>

<body style="text-align: center; height: 2200px;">


  

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
   

    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 h-100">
                    <div class="main-menu h-100">
                        <nav class="navbar h-100 navbar-expand-lg">
                            <!-- Logo Area  -->
                            <a class="navbar-brand" href="/userdashboard"><img src="img/core-img/logo.png" alt="Logo"></a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse" id="medilifeMenu">
                                <!-- Menu Area -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/userdashboard">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/call">Call</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/doctorProfile">Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>
                                </ul>
                                <!-- Appointment Button -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

 <div style="padding-top: 50px;"> <img src="heartbeat.png" style="width: 60; height: 60; vertical-align:middle;"><h1 style="display: inline-block; vertical-align:middle; padding-left: 20px;">User Details</h1> </div>
 
 <div style="padding: 50px;margin:0 auto; width: 700px; height: 550px ">
      

    <div style="text-align: left; padding-top: 10px; width: 600px;">
      <% userdetails.forEach(function(user){%>


        <p style="text-align:left; margin-top: 30px;">
          First Name:
          <span style="float:right;">
            <%= user.firstname %> 
          </span>
        </p>

        <p style="text-align:left; margin-top: 30px;">
            Device Id:
            <span style="float:right;">
              <%= user.deviceid %> 
            </span>
          </p>

          <p style="text-align:left; margin-top: 30px;">
            Age:
            <span style="float:right;">
              <%= user.age %> 
            </span>
          </p>

          <p style="text-align:left; margin-top: 30px;">
            Email:
            <span style="float:right;">
              <%= user.email %> 
            </span>
          </p>

          <p style="text-align:left; margin-top: 30px;">
            Data Date range:
            <% dates.forEach(function(date){%>

            <span style="float:right; margin-top: 20px;">
              <%= date.start %>  
              to 
              <br>
              <%= date.end %>
            </span>
            <% }); %>

          </p>

        <% }); %>

        

    </div>
 </div>
 <% userdetails.forEach(function(user){%>

  <form action="/usersdashboard" style="padding: 50px;" method="post">
    <label for="date">Select date to show data of user:</label>
    <input type="date" id="date" name="date">
    <input type="hidden" id="deviceid" name="deviceid" value=<%=user.deviceid %> >
    <input type="hidden" id="deviceid" name="firstname" value=<%=user.firstname %> >
    <input type="submit">
  </form>

  <% }); %>

</body>
</html>
</script>
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</html>
